:root {
  // neutral color
  --neutral-color-10: #101010;
  --neutral-color-20: #131313;
  --neutral-color-30: #34312D;
  --neutral-color-40: #2E2E2E;
  --neutral-color-50: #4C4C4C;
  --neutral-color-60: #777777;
  --neutral-color-70: #B3B3B3;
  --neutral-color-80: #E5E5E5;
  --neutral-color-90: #F8F8F8;
  --neutral-color-100: #F57520;
  --neutral-color-110: #EB6B16;
  --neutral-color-120: #E1610C;
  --neutral-color-130: #D75702;
  --neutral-color-140: #F53A20;
  --neutral-color-150: #4D932C;
  --neutral-color-160: #ffffff;

  // transition
  --transition: 0.2s ease-in-out;
  --accordion-transtion: 0.5s ease-in-out;

  // z-index
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
  --z-index-7: 7;
  --z-index-sidebar: 1000;
  --z-index-modal: 1001;
}